<section>
    <div class="container mt-4">
        <div class="row">
           <div class="col-md-6">
               <h2 class="text-center">Add Product</h2>
               <form action="">
                   
               </form>
               
           </div>
        </dov>

    </div>
</section>